{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
  新規登録して新しいアカウントを取得してください。
{% endblock %}
{% block title %}
    Create a New Account - Hori's Store
{% endblock %}
{% block content%}
    <div>
        {% if not form.is_valid %}
        <div class="mx-auto">
          <br>
          <h1 class="my_title text-center">新しいアカウントを作成する</h1>
          <br>
          <div class="col-9 col-md-6 col-lg-5 mx-auto bg-light">
            <br>
            <p>次の情報を入力して、新しいアカウントを作成します。</p>
            <form method="post">
                {% csrf_token %}
                <p>{{ form | crispy }}</p>
                <button type="submit" class="btn btn-secondary">登録</button>
            </form>
            <br>
          </div>
        </div>
        {% else %}
            <div class="mx-auto">
              <br>
              <h1 class="my_title text-center">アカウントが正常に作成されました</h1>
              <br>
              <a href="{% url 'shop:allProdCat' %}" class="shopping_continue">ショッピングを続ける</a>
        {% endif %}
    </div>
    <br>
{% endblock %}