{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
    Sign in and enjoy the variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
    Login - Hori's_ Store
{% endblock %}
{% block content %}
    <div class="container">
      <br>
      <h1 class="my_title text-center">新しいアカウントの作成、またはログイン</h1>
      <br>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center my_custom_div">
              <br>
              <h2 class="my_title">新規のお客様</h2>
              <br>
              <p>アカウントを作成すると、商品購入・請求書の発行が可能になります。</p>
              <br>
              <a href="{% url 'signup' %}" class="btn btn-secondary">新しいアカウントを作成する</a>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
            <div>
              <br>
              <h2 class="my_title">登録済みのお客様</h2>
              <form method="post">
                  {% csrf_token %}
                  <p>{{ form | crispy}}</p>
                  <button type="submit" class="btn btn-secondary">ログイン</button>
              </form>
              <br>
            </div>
          </div>
      </div>
    </div>
    <br>
{% endblock %}