{% extends "base.html" %}
{% load static %}
{% block title %}
  Order History - Hori's Store
{% endblock %}
{% block content %}
{% load humanize %}
<div>
  <div class="text-center">
    <br>
    <h1 class="text-center my_title">注文履歴</h1>
    <br>
    {% if order_details %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>注文番号</th>
          <th>注文日</th>
          <th>合計金額</th>
          <th>状態</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_details %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.created|date:"d M Y" }}</td>
          <td>¥{{ order.total| floatformat| intcomma }}</td>
          <td><i class="fas fa-check"></i>&nbsp;完了</td>
          <td><a href="{% url 'order:order_detail' order.id  %}">明細書を発行</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have not placed any orders yet.<br><br><a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary">Continue shopping</a></p>
    {% endif %}
  </div>
</div>
<br>
<br>
{% endblock %}