{% extends "base.html" %}
{% load static %}
{% block title %}
    Thanks - Hori's Store
{% endblock %}
{% block content %}
<div>
  <div class="text-center">
    <br>
    <br>
    <h1 class="text-center my_title">
        ご注文ありがとうございます
    </h1>
    <br>
    <br>
    <p>注文番号: <b>{{ customer_order.id }}</b></p>
    <br>
    <p>
      ご注文を承りました。請求書が必要な場合は、ボタンを押してください。
    </p>
    <a href="{% url 'order:order_history' %}" class="order_history_button"">注文履歴</a>
  </div>
</div>
<br>
<br>
{% endblock %}