{% extends "base.html" %}
{% load static %}
{% block matadescription %}
    We have a variety of stunning and comfy cushions. Lock for the one that suits your needs.
{% endblock %}
{% block title %}
    Search - Hori's Store
{% endblock %}
{% block content %}
{% load humanize %}
    <div>
        <p class="text-center my_search_text">検索内容: <b>"{{ query }}"</b></p>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products  %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>¥{{product.price| floatformat| intcomma}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text">該当の検索内容は見付かりませんでした</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}